https://github.com/helpers/handlebars-helper-disqus

{{!--<section>
  <h1>Comments</h1>
  <div id="disqus_thread" aria-live="polite">
		<noscript>
				Please enable JavaScript to view the 
				<a href="http://disqus.com/?ref_noscript">
					comments powered by Disqus.
				</a>
			</noscript>
	</div>
</section>

<script type="text/javascript">
      var disqus_shortname = '{{ site.disqus_short_name }}';
      {% if page.comments == true %}
        {% comment %} `page.comments` can be only be set to true on pages/posts, so we embed the comments here. {% endcomment %}
        // var disqus_developer = 1;
        var disqus_identifier = '{{ site.url }}{{ page.url }}';
        var disqus_url = '{{ site.url }}{{ page.url }}';
        var disqus_script = 'embed.js';
      {% else %}
        {% comment %} As `page.comments` is empty, we must be on the index page. {% endcomment %}
        var disqus_script = 'count.js';
      {% endif %}
    
    (function(w, d, s) {
      function go(){
        var js, fjs = d.getElementsByTagName(s)[0], load = function(url, id) {
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.src = url; js.id = id; js.async = true;
        fjs.parentNode.insertBefore(js, fjs);
      };
        load('http://' + disqus_shortname + '.disqus.com/' + disqus_script, 'discuss');
      }
      if (w.addEventListener) { w.addEventListener("load", go, false); }
      else if (w.attachEvent) { w.attachEvent("onload",go); }
    }(window, document, 'script'));

</script>--}}

