<ul class="pager">
  {{#if first}}
    <li class="previous disabled"><a>&larr; Newer {{sub_type}}</a></li>
  {{else}}
    <li class="previous"><a href="{{prev_href}}">
      &larr; Newer {{sub_type}}</a>
    </li>
  {{/if}}
  {{#if last}}
    <li class="next disabled"><a>Older {{sub_type}} &rarr;</a></li>
  {{else}}
    <li class="next"><a href="{{next_href}}">Older {{sub_type}} &rarr;</a></li>
  {{/if}}
</ul>
