{{#unless only_page}}
  <ul class="pagination pagination-lg">
    {{#if first_page}}
      <li class="disabled"><a>&laquo;</a></li>
    {{else}}
      <li><a href="{{type}}/page/{{prev_page}}">&laquo;</a></li>
    {{/if}}
    {{#times pages}}
      {{#ifCurrent this ../cur_page}}
        <li class="active">
          <a>{{this}}<span class="sr-only">(current)</span></a>
        </li>
      {{else}}
        <li>
          <a href="{{../../type}}/page/{{this}}">{{this}}</a>
        </li>
      {{/ifCurrent}}
    {{/times}}
    {{#if last_page}}
      <li class="disabled"><a>&raquo;</a></li>
    {{else}}
      <li><a href="{{type}}/page/{{next_page}}">&raquo;</a></li>
    {{/if}}
  </ul>
{{/unless}}
