<h2 id="project-title">{{name}} <br><small>{{description}}</small></h2>
<div class="row col-xs-12">
  {{partial 'tags' this}}
</div>
<div class="row visible-xs col-xs-12 cushion">
  {{partial 'photo-meta-list' this}}
</div>
<div class="row visible-sm col-sm-12 cushion">
  {{partial 'photo-meta-table' this}}
</div>
<div class="row hidden-sm hidden-xs col-md-12 cushion">
  {{partial 'photo-meta-btng' this}}
</div>
<div class="col-xs-12 cushion">
  {{partial 'photo-image' this}}
</div>
<div class="col-xs-12 cushion">
  {{partial 'photo-updated' this}}
</div>

