<div class="">
  <h2 id="project-title">{{name}} <br><small>{{description}}</small></h2>
  {{partial 'tags' this}}
</div>
<div class="visible-xs cushion">
  {{partial 'project-meta-list' this}}
</div>
<div class="visible-sm cushion">
  {{partial 'project-meta-table' this}}
</div>
<div class="hidden-sm hidden-xs cushion">
  {{partial 'project-meta-btng' this}}
</div>
<div class="cushion">
  {{partial 'project-image' this}}
</div>
<div class="cushion">
  {{partial 'project-updated' this}}
</div>

<div id="project-content">{{{readme}}}</div>

