<div class="text-center">
  <div class="btn-group">
    <a href="{{stargazers_url}}" class="nounderline">
      <button type="button" class="btn btn-default">
        <div class="lead">{{stargazers_count}}</div><div>Stars</div>
      </button>
    </a>
    <a href="{{forks_url}}" class="nounderline">
      <button type="button" class="btn btn-default">
        <div class="lead">{{forks}}</div><div>Forks</div>
      </button>
    </a>
    <a href="{{tags_url}}" class="nounderline">
      <button type="button" class="btn btn-default">
        <div class="lead">{{version}}</div><div>Version</div>
      </button>
    </a>
    <a class="nounderline">
      <button type="button" class="btn btn-default disabled">
        <div class="lead">{{environment}}</div><div>Interface</div>
      </button>
    </a>
    <a href="{{languages_url}}" class="nounderline">
      <button type="button" class="btn btn-default">
        <div class="lead">{{language}}</div><div>Languague</div>
      </button>
    </a>
    <a class="nounderline">
      <button type="button" class="btn btn-default disabled">
        <div class="lead">{{project_type}}</div><div>Type</div>
      </button>
    </a>
  </div>
</div>
