<div class="">
  <h2 id="project-title">{{name}} <br><small>{{description}}</small></h2>
  {{partial 'tags' this}}
</div>
<div class="visible-xs cushion">
  {{partial 'project-meta-list' this}}
</div>
<div class="visible-sm cushion">
  {{partial 'project-meta-table' this}}
</div>
<div class="hidden-sm hidden-xs cushion">
  {{partial 'project-meta-btng' this}}
</div>
<div class="cushion">
  <div id="carousel-example-generic" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      {{#each url_e}}
        <li data-target="#carousel-example-generic" data-slide-to="{{index}}"></li>
      {{/each}}
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">{{partial 'project-image' url_m}}</div>
      {{#each url_e}}
        <div class="item">{{partial 'project-image' this}}</div>
      {{/each}}
    </div>

    <!-- Controls -->
    {{#if url_e}}
      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    {{/if}}
  </div>
</div>
<div class="cushion">
  {{partial 'project-updated' this}}
</div>

<div id="project-toolbar" class="btn-toolbar" role="toolbar">
  {{#if homepage}}
    <a href="http://{{homepage}}" class="nounderline">
      <button type="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-globe"></span> Live Demo
      </button>
    </a>
  {{/if}}
  <a href="{{html_url}}" class="nounderline">
    <button type="button" class="btn btn-default btn-lg">
      <div class='row'>
        <div class='col-xs-4'>
          <span class='symbol'>githubalt</span>
        </div>
        <div class='col-xs-8 fixme'>
          <span class='word'> GitHub</span>
        </div>
      </div>
    </button>
  </a>
</div>
