<div class="text-center">
  <div class="btn-group">
    <button type="button" class="btn btn-default">
      <div class="lead">{{stargazers_count}}</div><div>Stars</div>
    </button>
    <button type="button" class="btn btn-default">
      <div class="lead">{{forks}}</div><div>Forks</div>
    </button>
    <button type="button" class="btn btn-default">
      <div class="lead">{{version}}</div><div>Version</div>
    </button>
    <button type="button" class="btn btn-default">
      <div class="lead">{{environment}}</div><div>Environment</div>
    </button>
    <button type="button" class="btn btn-default">
      <div class="lead">application</div><div>Type</div>
    </button>
    <button type="button" class="btn btn-default">
      <div class="lead">{{language}}</div><div>Languague</div>
    </button>
  </div>
</div>