{{#if sidebar}}
  {{#if collapsed}}
    <div id="archives" class="col-sm-12">
      <h1 id="page-title">{{page_title}}</h1>
      {{partial 'blog-archive' this}}
    </div>
    <div id="sidebar" class="col-sm-12">
      <div class="row">{{partial 'sidebar-horz' this}}</div>
    </div>
  {{else}}
    <div id="archives" class="col-sm-8">
      <h1 id="page-title">{{page_title}}</h1>
      {{partial 'blog-archive' this}}
    </div>
    <div id="sidebar" class="col-sm-4">
      {{partial 'sidebar-vert' this}}
    </div>
  {{/if}}
{{else}}
  <div id="archives" class="col-sm-12">
    <h1 id="page-title">{{page_title}}</h1>
    {{partial 'blog-archive' this}}
  </div>
{{/if}}
