<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<title>{{title}}</title>
	<link href="{{href}}/atom.xml" rel="self"/>
	<link href="{{href}}"/>
	<updated>{{date}}</updated>
	<id>{{href}}</id>
	<author>
		<name>{{author}}</name>
		<email>{{email}}</email>
	</author>

	{{#each posts}}
		<entry>
			<title>{{title}}</title>
			<link href="{{href}}"/>
			<updated>{{date}}</updated>
			<id>{{href}}</id>
			<content type="html">{{{content}}}</content>
		</entry>
	{{/each}}
{{title}}/feed>