{{#if show_year}}<td rowspan="{{year_rowspan}}">{{year}}</td>{{/if}}
{{#if show_month}}<td rowspan="{{month_rowspan}}">{{month}}</td>{{/if}}
<td class="numeric">{{day}}</td>
<td><a href="{{href}}">{{title}}</a></td>
<td>{{partial 'tags' this}}</td>
