{{#if sidebar}}
  <div id="main" class="col-sm-8 article pentry">
    {{{content}}}
  </div>
  <div id="sidebar" class="col-sm-4">
    {{partial 'sidebar-vert' this}}
  </div>
{{else}}
  <div class="col-sm-12">
    <div class="article pentry">{{{content}}}</div>
    {{#if collapse_sidebar}}
      {{partial 'sidebar-horz' this}}
    {{/if}}
  </div>
{{/if}}
