{{#if sidebar}}
  {{#if collapsed}}
    <div class="col-sm-12">
      <div id="page" class="row">
        {{partial 'index-title' this}}
        <div id="excerpt-list"></div>
      </div>
      <div id="pagination" class="text-center">
        {{partial 'pagination' this}}
      </div>
      <div id="sidebar" class="row">{{partial 'sidebar-horz' this}}</div>
    </div>
  {{else}}
    <div id="page" class="col-sm-8">
      <div class="row">
        {{partial 'index-title' this}}
        <div id="excerpt-list" class="col-sm-12"></div>
      </div>
      <div id="pagination" class="text-center">
        {{partial 'pagination' this}}
      </div>
    </div>
    <div id="sidebar" class="col-sm-4">
      {{partial 'sidebar-vert' this}}
    </div>
  {{/if}}
{{else}}
  <div class="col-sm-12">
    <div id="page" class="row">
      {{partial 'index-title' this}}
      <div id="excerpt-list"></div>
    </div>
    <div id="pagination" class="text-center">{{partial 'pagination' this}}</div>
  </div>
{{/if}}
