{{#if sidebar}}
  {{#if collapsed}}
    <div class="col-sm-12">
      <div id="item" class="">{{partial partial this}}</div>
      {{#if pager}}
        <div id="pager" class="">{{partial 'pager' this}}</div>
      {{/if}}
      <div id="sidebar" class="row">{{partial 'sidebar-horz' this}}</div>
    </div>
  {{else}}
    <div class="col-sm-8">
      <div id="item" class="">{{partial partial this}}</div>
      {{#if pager}}
        <div id="pager" class="">{{partial 'pager' this}}</div>
      {{/if}}
    </div>
    <div id="sidebar" class="col-sm-4">
      {{partial 'sidebar-vert' this}}
    </div>
  {{/if}}
{{else}}
  <div class="col-sm-12">
    <div id="item" class="">{{partial partial this}}</div>
    {{#if pager}}
      <div id="pager" class="">{{partial 'pager' this}}</div>
    {{/if}}
  </div>
{{/if}}
