<div class="navbar-header">
  <button
    type="button"
    class="navbar-toggle"
    data-toggle="collapse"
    data-target=".navbar-collapse"
  >
    <span class="sr-only">Toggle navigation</span>
    {{#each links}}<span class="icon-bar"></span>{{/each}}
  </button>
  <a
    class="{{#if_active main.title}}active-nav{{/if_active}} navbar-brand"
    href="{{main.href}}">
    {{main.title}}
  </a>
</div>
<div class="collapse navbar-collapse">
  <ul class="nav navbar-nav">
 	{{#each links}}
    <li {{#if_active title}}class="active"{{/if_active}}>
      <a href="{{href}}">{{title}}</a>
    </li>
	{{/each}}
  </ul>
  <div class="col-sm-3 col-md-4 col-lg-5">
    {{#if_dual_store}}{{#with_download}}
      <a
        id="download-portfolio"
        class="btn"
        href="{{reubano:portfolio_href}}"
        download="portfolio_data.json"
      >
        <span class="glyphicon glyphicon-download-alt"></span> Portfolio
      </a>
      <a
        id="download-gallery"
        class="btn"
        href="{{reubano:gallery_href}}"
        download="gallery_data.json"
      >
        <span class="glyphicon glyphicon-download-alt"></span> Gallery
      </a>
      <a
        id="download-screenshots"
        class="btn"
        href="{{reubano:screenshots_href}}"
        download="screenshots_data.json"
      >
        <span class="glyphicon glyphicon-download-alt"></span> Screenshots
      </a>
    {{/with_download}}{{/if_dual_store}}
    <form
      class="navbar-form"
      role="search"
      action="http://google.com/search"
      method="get"
    >
      <div class="input-group">
        <input
          class="form-control"
          type="text"
          name="q"
          id="srch-term"
          results="0"
          placeholder="Search..."
        >
        <input type="hidden" name="q" value="site:{{site}}">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div><!--/.nav-collapse -->
