<div id="page-title" class="col-sm-12"><h1>{{page_title}}</h1></div>
{{#if sidebar}}
  <div id="page" class="col-sm-8">
    {{{content}}}
  </div>
  <div id="sidebar" class="col-sm-4">
    {{partial 'sidebar-vert' this}}
  </div>
{{else}}
  <div class="col-sm-12">
    <div id="page" class="">{{{content}}}</div>
    {{#if collapse_sidebar}}
      <div id="sidebar" class="row">{{partial 'sidebar-horz' this}}</div>
    {{/if}}
  </div>
{{/if}}
