<div id="photo-excerpt-{{id}}" class="excerpt excerpt-photo cushion clearfix">
  <a href="{{href}}">{{partial 'photo-image' url_s}}</a>
  <button
    type="button"
    class="btn btn-default"
    data-toggle="collapse"
    data-target="#photo-excerpt-caption-{{id}}"
  >
    <span class="glyphicon glyphicon-info-sign"></span>
  </button>
  <div
    id="photo-excerpt-caption-{{id}}"
    class="caption collapse out clearfix"
  >
    <p id="photo-excerpt-desc-{{id}}">{{description}}</p>
    {{partial 'tags' this}}
    {{partial 'photo-meta-table' this}}
  </div>
</div>

