<div id="post-excerpt-{{id}}" class="col-sm-12 excerpt excerpt-post">
  <p class="excerpt-meta">{{date_str}}</p>
  <h2 id="post-excerpt-title-{{id}}" class="excerpt-title">
    <a href="{{href}}">{{title}}</a>
  </h2>
  <div id="post-excerpt-content-{{id}}" class="excerpt-content">
    {{{excerpt}}}
    <a href="{{href}}" class="nounderline">
      <span class="label label-primary">Read on</span>
    </a>
  </div>
</div>
