<div id="excerpt" class="col-sm-12">
  <p class="meta">{{date_str}}</p>
  <h2 id="excerpt-title">
    <a href="{{href}}">{{title}}</a>
  </h2>
  <div id="excerpt-content">{{{excerpt}}}</div>
  <div id="excerpt-footer">
    <a href="{{href}}" class="btn btn-default btn-lg" role="button">
      Read on <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>
<br>