<div class="col-sm-12">
  <h2 id="excerpt-title">
    <a href="{{href}}">{{title}}</a>
  </h2>
</div>
<div class="col-sm-12 col-md-6">
  <div id="excerpt-content" class="panel panel-default">
    <div id="excerpt-body" class="panel-body">
      <p class="">{{description}}</p>
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        Environment <span class="badge">web</span>
      </li>
      <li class="list-group-item">
        Type <span class="badge">application</span>
      </li>
      <li class="list-group-item">
        Languague <span class="badge">{{language}}</span>
      </li>
      <li class="list-group-item">
        Stars <span class="badge">{{stargazers_count}}</span>
      </li>
      <li class="list-group-item">
        Forks <span class="badge">{{forks}}</span>
      </li>
      <li class="list-group-item">
        Version <span class="badge">1.0.3</span>
      </li>
      <li class="list-group-item">
        Status <span class="badge">beta</span>
      </li>
    </ul>
  </div>
</div>
<div class="col-sm-12 col-md-6">
  <img id="excerpt-thumbnail" class="img-thumbnail img-responsive" src="images/holder.png" alt="...">
 	{{#each tags}}
    <button type="button" class="btn btn-default btn-lg tag">
      {{this}} <span class="glyphicon glyphicon-tags"></span>
    </button>
	{{/each}}
  <button type="button" class="btn btn-default tag">
    Created: {{created_str}}
  </button>
  <button type="button" class="btn btn-default tag">
    Updated: {{updated_str}}
  </button>
</div>
<div id="excerpt-footer" class="col-sm-12">
  <a href="{{href}}" class="btn btn-default btn-lg" role="button">
    Visit <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
<br>

