<div id="excerpt" class="col-sm-12">
  <p class="meta">{{date_str}}</p>
  <h1 id="excerpt-title">
    <a href="{{href}}">{{title}}</a>
  </h1>
  <div id="excerpt-content">
    <ul class="list-group">
      <li class="list-group-item">
        <h4 class="list-group-item-heading">Description</h4>
        <p class="list-group-item-text">{{description}}</p>
      </li>
      <li class="list-group-item">
        <span class="badge">{{language}}</span>
        Languague
      </li>
      <li class="list-group-item">
        <span class="badge">{{stargazers_count}}</span>
        Stars
      </li>
      <li class="list-group-item">
        <span class="badge">{{forks}}</span>
        Forks
      </li>
    </ul>
  </div>
  <div id="excerpt-footer">
    <a href="{{href}}" class="btn btn-default btn-lg" role="button">
      Read on <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>
<br>
